@{
     
    Produto produto = ViewBag.Produto;
}
    <div class="container ">
        <form asp-action="Alterar" method="post">
            <fieldset>
                <legend>Alterar produto</legend>
                <div class="form-group">
                    <input type="hidden" value="@produto.ProdutoId" name="hdnID" id="hdnID" />
                </div>
                <div class="form-group">
                    <label for="Id">Id:</label>
                    <input type="text" class="form-control" name="txtId" id="id" value="@produto.ProdutoId" readonly="" />
                </div>
                <div class="form-group">
                    <label>Nome:</label>
                    <input type="text" class="form-control" required name="txtNome" id="nome" value="@produto.Nome" />
                </div>
                <div class="form-group">
                    <label>Descrição:</label>
                    <input type="text" class="form-control" required name="txtDescricao" id="descricao" value="@produto.Descricao" />
                </div>
                <div class="form-group">
                    <label>Preço:</label>
                    <input type="text" class="form-control" required name="txtPreco" id="preco" value="@produto.Preco" />
                </div>
                <div class="form-group">
                    <label>Quantidade:</label>
                    <input type="text" class="form-control" required name="txtQuantidade" id="quantidade" value="@produto.Quantidade" />
                </div>
                <input type="submit" class="btn btn-primary" value="Salvar" />
            </fieldset>
        </form>
    </div>
